name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name:c9907b6eb9bef58c00de3ca0b0ef488316a4be705eea8e1f3c671b016044c148
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
